<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />
    <title>Login Page</title>
  </head>
  <body>
    <div class="cursor-trail"></div>

    <!-- Nav Bar-->
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>

    <!-- Video Background-->
    <video autoplay muted loop id="myVideo">
      <source src="shot.mp4" type="video/mp4" />
    </video>

    <!-- Login Box -->
    <div class="container">
      <div class="login">
        <h3>Login</h3>
        <label for="user">Username</label>
        <input type="text" id="user" /><br />

        <label for="pass">Password</label>
        <input type="text" id="pass" />
        <h5>
          <a href="passchange.html">Forgot Your Password?</a>
        </h5>

        <!-- BUTTON -->
        <button onclick="myFunction()" id="myButton">Login</button>

        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>

    <script src="../scripts/index.js"></script>
  </body>
</html>
