  <!-- SKIP THIS, NEXT FILE!!!-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Password Change</title>
  </head>
  <body>
   <!-- Login Box -->
    <div></br>
      <label for="oldPass">Old Password</label>
      <input type="text" id="user" /><br />

      <label for="newPass">New Password</label>
      <input type="text" id="pass" /><br />

      <label for="verifyPass">Confirm Password</label>
      <input type="text" id="pass" /><br />

      <!-- Buttons -->
      <!-- Save Changes to Pass -->
    <button onclick="updatePass()">Save Changes</button> </br>
<!-- Return to Login Page -->
<h5>
  <a
    href="index.html"
    >Back to Login</a
  >
</h5>
    
       </div>

  

    <script src="../scripts/index.js"></script>
  </body>
</html>
